.app-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background:#0E0E0E;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    .svg-wrapper {
        margin: 10px;
    }

    .player-section-1 {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-left {
            display: flex;

            .video-thumbnail {
                width: 60px;
                height: 34px;
                background: white;
                opacity: 0.1;
                margin: 20px 13px 20px 20px;
            }

            .track-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .track-title {
                    font-size: 14px;
                    letter-spacing: 0.34px;
                    margin: 0 0 0 0;
                    font-weight: 600;
                }

                .track-subtitle{
                    font-size: 10px;
                    letter-spacing: 0.34px;
                    opacity: 0.5;
                }
            }
        }

        .section-right {
            display: none;
            padding-right: 9px;
        }
    }

    @media only screen and (max-width: $mobile) {
        display: block;
        height: 170px;

        .player-section-1 {
            height: 70px;

            .section-right {
                display: block;
            }
        }

        .player-section-2 {
            position: relative;

            .timeline-container {
                top: 0;
                left: 0;
                right: 0;
                height: 10px;
                position: absolute;
                display: flex;
                justify-content: space-between;
                font-size: 8px;
                padding: 5px;
                color: rgba(255,255,255,0.3);

                .timeline-bar-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background: $black;
                }

                .timeline-bar {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 1px;
                    width: 0%;
                    background: $white;
                }
            }

            .player-controls {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 13px 0 0 0;
                max-width: 280px;
                margin: 0 auto;

                .player-controls-left, .player-controls-right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .skip-left-button, .skip-right-button {
                    svg {
                        width:18px;
                        height: 19px;
                    }
                }

                .player-controls-center {
                    display: flex;
                    align-items: center;

                    .play-button {
                        svg {
                            width: 50px;
                            height: 50px
                        }
                    }
                }
            }
        }

        .player-section-3 {
            display: none;
        }

       
    }
}