.home-route {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 100px;
    user-select: none;

    // @media only screen and (max-width: $mobile) {
    //     bottom: 170px;
    // }

    bottom: 0px;
}

.headline-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.34px;
    z-index: 2;
    white-space: pre-line;
    user-select: none;

    .underline {
        width: 58px;
        height: 5px;
        background: $white;
        margin: 20px 0 0 0;
        position: relative;
        left: 3px;
    }
}

.main-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.main-settings {
    position: absolute;
    padding: 20px;
    z-index: 2;
    bottom: 0;
    right: 0;
    
}

.touched {
    position: relative;
    z-index: 1000;
    background: red;
}

.touch-zones {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .touch-zones-row {
        height: 30%;
        display: flex;
        margin-bottom: 20px;

        .touch-zone {
            background: rgba($white, 0.00);
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            transition: all 1.5s;

            &.touch-zone-active {
                // background: rgba($white, 0.02);
            }

             &:first-child {
                margin-right: 10px;
         }

            &:last-child {
                margin-left: 10px;
            }
        }

       
    }
}