.app-bg {
    display: block;
    position: fixed;
    z-index: 1;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -15%;
    background: linear-gradient(179.8deg, #000000 -10.46%, #323232 166.84%);
    transition: all 0.2s ease;
}

.app-route-container {
    position: relative;
    z-index: 2;
    padding: 60px 20px 0 20px;
}
